@import "Colors";

nav{
    display: flex;
    width: 100%;
    height: 15vh;
    background-color:#FBFBFB;
    // color: black;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 0%;
    z-index: 10;
    // border-bottom: 1px solid black;
    // border-bottom: 1px solid #016A70;

    // >h1{
    //     text-transform: uppercase;
    //     margin-left: 10vh;
    //     font-size: 5.5vh;
    //     color: white;
    // }
        >img{
            width: 10vw;
            margin-left: 10vh;
            
        }
    
    >main{
        width: 60%;
        display: flex;
        justify-content: flex-end;
        >a{
            color:black;
            margin: 2.5rem;
            font-family:"Roboto";
            font-weight: 600;
            font-size: 3vh;
            
            &:hover{
                color: #F4794A;
            }
        }
    }
}