.cursor {
  width: 20px;
  height: 20px;
  background-color: black;
  position: absolute;
  border-radius: 50px;
  filter: invert(0);
}

.home {
  width: 100%;
  height: 100vh;
  background-color: #a1bfff;
  border-radius: 0 0 200px 200px;
  position: relative;

  > main {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    text-transform: uppercase;

    > h1 {
      font-size: 6rem;
      font-weight: 700;
      font-family: "Roboto";
      color: white;
    }
    > p {
      font-size: 1.2rem;
      font-weight: 800;
      color: #a1bfff;
      width: 40%;
      text-align: center;
    }
  }
  &::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    background: no-repeat center/auto
      url("https://img.freepik.com/free-vector/marketing-illustartion-concept-idea-business-growth-media_613284-3313.jpg?w=1380&t=st=1699166272~exp=1699166872~hmac=5d74a4341e783a8bfd94fd339b933f702c8506a5ee7034eb953df3948c1a6389");
    // filter: blur(1px);
    object-position: center;
    object-fit: cover;
    border-radius: 0 0 200px 200px;
    filter: hue-rotate(10deg);
  }
}
.home2 {
  width: 100%;
  height: 100vh;
  display: flex;

  background-color: #000200;
  margin-top: -200px;
  padding: 2rem;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35vh;

    > p {
      color: white;
      text-align: center;
      width: 40%;
    }
  }
}

.home3 {
  width: 100%;
  height: 100vh;
  background-color: #000200;

  > .box {
    width: 70%;
    height: 70vh;
    background-color: white;
    // margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 100px 100px 0;
    .contain {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;

      > h1 {
        font-size: 7vh;
        border-bottom: 2px solid black;
        margin-bottom: 3vh;
      }
      > p {
        text-align: center;
        font-family: cursive;
        font-size: 2.5vh;
      }
    }
  }
}
.home4 {
  width: 100%;
  height: 100vh;
  background-color: #000200;
  display: flex;
  justify-content: end;

  .box {
    width: 70%;
    height: 70vh;
    background-color: #5853ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100px 0 0 100px;

    > h1 {
      font-size: 5vh;
      color: white;
      border-bottom: 1px solid white;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    > article {
      display: flex;
      justify-content: space-evenly;
      margin: 2vw;
      width: 70%;
      .google {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 130px;
        height: 130px;
        background-color: white;
        border-radius: 70px;

        &:hover {
          filter: invert(1);
        }
        > a {
          text-decoration: none;
          color: black;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          > svg {
            font-size: 5vh;
          }

          > p {
            font-family: "Roboto";
            font-weight: 900;
            font-size: large;
            text-transform: capitalize;
          }
        }
      }
      .youtube {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 130px;
        height: 130px;
        background-color: white;
        border-radius: 70px;

        &:hover {
          filter: invert(1);
        }
        > a {
          text-decoration: none;
          color: black;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          > svg {
            font-size: 5vh;
          }

          > p {
            font-family: "Roboto";
            font-weight: 900;
            font-size: large;
            text-transform: capitalize;
          }
        }
      }
      .instagram {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 130px;
        height: 130px;
        background-color: white;
        border-radius: 70px;

        &:hover {
          filter: invert(1);
        }
        > a {
          text-decoration: none;
          color: black;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          > svg {
            font-size: 5vh;
          }

          > p {
            font-family: "Roboto";
            font-weight: 900;
            font-size: large;
            text-transform: capitalize;
          }
        }
      }
      .amazon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 130px;
        height: 130px;
        background-color: white;
        border-radius: 70px;

        &:hover {
          filter: invert(1);
        }
        > a {
          text-decoration: none;
          color: black;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          > svg {
            font-size: 5vh;
          }

          > p {
            font-family: "Roboto";
            font-weight: 900;
            font-size: large;
            text-transform: capitalize;
          }
        }
      }
      .github {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 130px;
        height: 130px;
        background-color: white;
        border-radius: 70px;

        &:hover {
          filter: invert(1);
        }
        > a {
          text-decoration: none;
          color: black;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          > svg {
            font-size: 5vh;
          }

          > p {
            font-family: "Roboto";
            font-weight: 900;
            font-size: large;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
